<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button  *ngIf="_us.activo()" (click)="_us.cerrarSesion()">
          Salir
      </button>
    </ion-buttons>
    <ion-title>
      Tienda
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="_cs.verCarrito()">
          <ion-icon name="cart"></ion-icon>
          <ion-badge class="carrito-numero" color="danger"
                      *ngIf="_cs.items.length>0">
            {{ _cs.items.length }}
          </ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of _ps.productos" (click)="detalle( item )">
    <img [src]="item.codigo | imagen "/>
    <ion-card-content>
      <ion-card-title >
        {{ item.producto }}
      </ion-card-title>
      <p>
        {{ item.precio_compra | currency: 'USD':true }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="siguientePagina($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
