<ion-header>
  <ion-navbar color="blues">
    <ion-buttons left>
      <button ion-button icon-only  (click)="viewCtrl.dismiss()">
          <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div text-center class="carritoVacio" *ngIf="_cs.items.length===0">
    <ion-icon name="md-cart" class="icon-5x"></ion-icon>
    <br>
    Su carrito está vació
  </div>

<div *ngIf="_cs.items.length != 0">
    <div *ngFor="let item of _cs.items; let i = index;">
      <ion-row class="colorback" >
        <ion-col class="img">
          <img [src]="item.codigo | imagen "/>
        </ion-col>
        <ion-col text-center>
          <p>{{ item.producto }}</p>
          <p>{{ item.precio_compra | currency: 'USD':true }}</p>
          <br>
          <button icon-end round ion-button small outline block color="danger" 
                  (click)="_cs.removerItem( i )">
            <strong>Eliminar</strong> 
            <ion-icon name="md-trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <hr>
    </div>

  <ion-grid>
      <ion-row>
        <ion-col>
          <h3 class="total">
            <strong>Total:</strong>
            {{ _cs.totalCarrito | currency: 'USD':true }}
          </h3>
        </ion-col>
      </ion-row>
  </ion-grid>

  <button round ion-button block (click)="_cs.realizarPedido()">
    Realizar compra
  </button>

</div>
  
</ion-content>
